.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(36, 36, 36);
}

.brand {
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-item {
    font-size: 1.3em;
    color: white;
    margin: 0 10px;
}